* {
  box-sizing: border-box;
}

body {
  // Positioning
  margin: 0;
  padding: 2rem;

  // Box model
  display: flex;
  flex-direction: column;
  height: 100vh;

  // Typography
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 24px;

  // Visual
  background-color: $uoc-bg;
  color: $uoc-corporate;
}

.azores-container {
  // Positioning
  margin: auto;
  padding: 2rem;

  // Box model
  max-width: 1200px;

  // Typography
  text-align: center;

  // Visual
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0 0 0 / .1), 0 2px 4px -1px rgba(0 0 0 / .06);
}

.azores-logo {
  // Positioning
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;

  // Box model
  display: block;
  max-width: 200px;
  height: auto;
}


.azores-container-grid {
  p {
    font-size: 16px;
  }
}

.text {
  // Typography
  font-family: $font-family-serif;
  
  // Visual
  color: $uoc-corporate;
}

.text-title {
  font-size: 24px;
  font-weight: 700;
}

@media (min-width: $mqMinWidth) {
  .azores-container-grid {
    // Positioning
    padding: 15px;

    // Box model
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .azores-logo {
    max-width: none;
  }

  .text-title {
    font-size: 36px;
  }
}


.uoc-footer {
  // Positioning
  margin-top: 1.5rem;
  font-size: 0.75rem;

  // Typography
  text-align: center;
}
